
/*GLOBAL
======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font:1em/1.5 sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

main{
    padding: 5%;
}
.noticia{
    padding: 20px;
    border:1px solid #ccc;
    margin-bottom: 20px;
}
h2{
    cursor: pointer;
}

