/* 
    Created on : Sep 21, 2015, 9:15:52 AM
    Author     : cice
*/

/*GLOBAL
==========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font:1em/1.5 sans-serif;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}


main{
    padding: 5%;
    
}

main h1{
    text-align: center;
    color: tomato;
    letter-spacing: -3px;
}

.btn{
    width: 200px;
    padding: 10px;
    background: #222;
    color: #fff;
    margin: 20px auto;
    text-align: center;
}

.btn:hover{
    background: #777;
    cursor: pointer;
}

main :nth-child(4){
    color: #222;
    text-align: center;
    cursor: pointer;
}

main :nth-child(4):hover{
    color: tomato;
}

#texto{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.azul{
    background: blue;
}

.verde{
    background: green;
}
