
/*GLOBAL
======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font:1em/1.5 sans-serif;
    padding: 10%;
    text-align: center;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
span{
    color:#0092b2;
}
h2{
 font-size: 1em;
 margin-top: -10px;
 margin-bottom: 20px;
}
h3{
   color:#0092b2;
   margin-bottom: 20px;
}
input{
    padding: 10px;
}
.btn{
    background: #0092b2;
    color:#fff;
    padding: 6px 10px;
    display: inline-block;
    cursor: pointer;
}
#lista{
    margin-top: 20px;
}
#lista li{
    background: #ededed;
    padding: 10px;
    margin-bottom: 5px;
}

.remove{
    display: none;
}