
/*GLOBAL
======================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font:1em/1.5 sans-serif;
    padding: 10%;
}
span{
    color: #d1162e;
}
h1{
    letter-spacing: -2px;
}
h2{
    font-size: 1em;
    margin-top: -10px;
    margin-bottom: 20px;
}
.btn{
    background: #222;
    color:#fff;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    font-size: .8em;
}
.btn:hover{
    cursor: pointer;
    background: #d1162e;
}

.info{
    color: #666;
    line-height: 16px;
    text-align: justify;
    font-size: 12px;
}

/*Clase que se le dará al
párrafo de manera dinámica con js*/
.destacado{
    background: #d1162e;
    color:#fff;
    padding: 10px;
}