* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    font: 1em/1.5 sans-serif;
    background: #222;
}

#galeria {
    width:980px;
    margin: 5% auto;
}

#view {
    height: 500px;
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
}

#content_thumb {
    height: 90px;
    overflow: hidden;
    background: #fff;
    
    position: relative;
}

#thumbs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 1s;
}
#thumbs div{
    width: 20%;
    height: 100%;
    float: left;
    cursor: pointer;
}

#content_thumb span {
    display: block ;
    height: 90px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
    position: absolute;
    
    background: rgba(0,0,0, .5);
    
    -webkit-transition: all 1s;
}

#content_thumb span.anterior {
    left: 0px;
}

#content_thumb span.siguiente {
    right: 0px;
}